.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.loading img {
  margin-top: 4px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.loadingText {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Noto Sans JP';
}
