.layout {
  display: flex;
  flex-direction: column;
}
.layout::before {
  content: '';
  display: block;
  height: 128px;
}
.lauout::after {
  display: block;
  content: '';
  height: 64px;
}
.login {
  margin: 0 auto;
  padding: 32px;

  width: 400px;
  border: 1px solid #c6d0e5;
  border-radius: 10px;
  text-align: center;
}
.logo {
  display: block;
  margin: 0 auto 16px;
  height: 32px;
  object-fit: contain;
}
.divider {
  width: 100%;
  border-top: 1px solid #c6d0e5;
}
.loginButton {
  padding: 8px 12px;
  font-size: 16px;

  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
}
.loginButton:enabled {
  font-weight: bold;
  background-color: #313847;
  cursor: pointer;
}
.loginButton:disabled {
  background-color: #e2e9f7;
  cursor: not-allowed;
}

/* TODO @media screen and (width<600px){} */
