.layout {
  display: flex;
  flex-direction: column;
}
.layout::before {
  content: '';
  display: block;
  height: 128px;
}
.lauout::after {
  display: block;
  content: '';
  height: 64px;
}
.login {
  margin: 0 auto;
  padding: 32px;

  width: 500px;
  border: 1px solid #c6d0e5;
  border-radius: 10px;
  text-align: center;
}
.logo {
  display: block;
  margin: 0 auto 16px;
  height: 32px;
  object-fit: contain;
}
.divider {
  width: 100%;
  border-top: 1px solid #c6d0e5;
}
.explanation {
  font-size: 16px;
  text-align: start;
}
.button {
  border: none;
  background-color: transparent;
}
.loginButton {
  display: block;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #313847;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 12px;
}
.trialButton {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #313847;
  color: white;
  border-radius: 8px;
  margin-top: 12px;
  border: none;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.privacyPolicy {
  text-align: end;
  margin-top: 16px;
}

.privacyPolicy > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* TODO @media screen and (width<600px){} */
