.card {
  padding: 8px !important;
}
.header {
  margin: 12px 0 16px;
  display: flex;
  align-items: center;
}
.header p {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Noto Sans JP';
  color: #313847;
  margin-left: 8px;
}
.header div {
  display: flex;
  align-items: center;
  flex: 5;
}
.pinIcon {
  margin: 0 0 0 8px;
  width: 16px;
  height: 26px;
  object-fit: contain;
  cursor: pointer;
}
.inputContainer {
  display: flex;
  align-items: center;
}
.inputContainer > input {
  margin: 0 8px;
  padding: 8px 10px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #313847;
  background-color: #e2e9f7;
  width: 100px;
}
.button {
  margin-right: 10px;
  color: #313847;
  border-color: #313847;
  flex: 1;
}
.warning::placeholder {
  color: red;
}
.trashButton {
  flex: 1;
}
