.header {
  padding: 16px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 36px;
  object-fit: contain;
  cursor: pointer;
}
.loginButton {
  padding: 8px 16px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #c6d0e5;
  border-radius: 8px;
  color: #555d6d;
}
