.sharedPalace {
  background-color: white;
  border-radius: 4px;
}
.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.imageButton {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  border: none;
  position: relative;
}
.imageButton > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: #000000;
}
.imageButton span {
  position: absolute;
  color: #ffffff;
  font-size: 24px;
}
.imageButton > div:hover {
  opacity: 0.5;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #313847;
}
.moreVertIcon {
  color: #555d6d;
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.tag {
  padding: 2px 6px;
  background-color: white;
  color: #555d6d;
  border-radius: 6px;

  display: inline-flex;
  align-items: center;
}
.icon {
  width: 16px !important;
  height: 16px !important;
  margin-right: 4px !important;
}

.button1 {
  font-size: 24px;
  width: 316px;
  height: 54px;
  border-radius: 8px;
  border: none;
  background-color: #313847;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.button2 {
  font-size: 24px;
  width: 316px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #7a8498;
  background-color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
  color: #7a8498;
  text-decoration: none;
}
.menuButton {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: transparent;
}
.menuText {
  font-family: 'Noto Sans JP';
  font-size: 18px;
}
.card {
  text-align: center;
  width: 240px;
  height: 32px;
  display: flex;
  flex-flow: column;
}
.divider {
  border-bottom: solid 0.5px #c6d0e5;
  width: 90%;
  margin: 6px auto;
}
