.sidebar {
  min-height: calc(100vh - 117px);
  width: 252px;
  padding: 24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.buttonHere {
  background-color: #f3f6fb;
  color: #182031;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Noto Sans JP';

  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  text-decoration: none;
  transition-duration: 0.2s;
  cursor: default;
}
.buttonNotHere {
  background-color: white;
  color: #828894;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Noto Sans JP';

  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  text-decoration: none;
  transition-duration: 0.2s;
}
.buttonNotHere:hover {
  background-color: #eef3ff;
  color: #313847;
}

.buttonIcon {
  margin-right: 12px;
}
.userSetting {
  margin-top: auto;
}

.userSetting {
  width: 100%;
  padding: 10px 12px;
  background-color: #eef3ff;
  border: none;
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 700;
  color: #555d6d;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 0.2s;
}
.userSetting:hover {
  border: 2px solid #95a0b6;
}
.userSetting:hover .lastIcon {
  display: initial;
}
.userIcon {
  margin-right: 16px;
}
.loginIcon {
  margin-bottom: 10px;
  margin-left: 12px;
}

.lastIcon {
  display: none;
  transition-duration: 0.3s;
  margin-left: auto;
}
.card {
  width: calc(252px - 24px);
  padding: 12px;
}
.card p {
  font-size: 14px;
  color: #313847;
}
.name {
  display: inline-flex;
  align-items: center;
}
.name > button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  margin-left: 2px;
}
.button2 {
  font-size: 16px;
  width: 48px;
  height: 24px;
  border-radius: 8px;
  border: none;
  background-color: #313847;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.logout {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #555d6d;
  background-color: white;
  border: 1px solid #95a0b6;
  border-radius: 6px;
  width: 100%;
  padding: 4px;
  margin-top: 16px;
  cursor: pointer;
}

.loginButtonURL {
  font-size: 16px;
  text-decoration: none;
  color: #313847;
  width: 100%;
  padding: 10px 12px;
}
.loginButton {
  margin-top: auto;
}
.loginButton {
  width: 100%;
  background-color: #eef3ff;
  border: none;
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 700;
  color: #555d6d;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 0.2s;
}
.loginButton:hover {
  border: 2px solid #95a0b6;
}
/* TODO SP用設定 */
