.signup {
  padding: 32px;

  width: 400px;
  border: 1px solid #c6d0e5;
  border-radius: 10px;
}
.signup h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #313847;
}
.divider {
  width: 100%;
  border-top: 1px solid #c6d0e5;
}
.signup h2 {
  margin: 16px 0 40px 0;
  font-size: 16px;
  font-weight: normal;
  color: #555d6d;
}
.signup h2 > span {
  font-weight: bold;
}

.signup input {
  width: calc(100% - 32px);
  padding: 16px;
  margin-bottom: 32px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background-color: #e2e9f7;
}
.buttonContainer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registerButton {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #313847;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.loginButton {
  text-decoration: none;
  color: #313847;
  font-size: 14px;
}

/* TODO @media screen and (width<600px){} */
